{% include 'base/index.html' %}
{% block content %}
{% include 'base/navbar.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
          <a href="/car/add_car" class="btn btn btn-info" style=" margin-left: 94%; margin-bottom: 33px;"> + </a>
                      {%for c in cars %}
                      <div>
                        <div class="row" style="margin-bottom: 74px;">
                          <div class="card">
                            <img src="{{c.car_pict.url}}" style="height: 216px; width: 345px;">
                            <div style="text-align: center; background-color:#f3ff3e;">
                              <h2 style="margin-left:18px ;">{{c.car_name}}</h2>
                            </div>
                          </div>
                          <div class="col">
                            <table class="table">
                              <tr>
                                <td> Brand </td>
                                <td> : </td>
                                <td>{{c.car_brand}}</td>
                              </tr>
                              <tr>
                                <td> Seating Capacity </td>
                                <td> : </td>
                                <td>{{c.seating_capacity}}</td>
                              </tr>
                              <tr>
                                <td> Cargo Volume </td>
                                <td> : </td>
                                <td>{{c.cargo_volume}}</td>
                              </tr>
                              <tr>
                                <td> Price / 12 Hour </td>
                                <td> : </td>
                                <td>{{c.price}}</td>
                              </tr>
                            </table>
                          </div>
                          <div class="col">
                            <tr>
                              <td>
                                <a href="{% url 'car:delete' c.id %}" class="btn btn-danger">Delete</a>
                                <a href="{% url 'car:change' c.id %}" class="btn btn-info">Edit</a>
                              </td>
                            </tr>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}