{% load static %}
<header class="header_admin">
  <a class="navbar_logo" href="#">LOGO</a>
  <nav class="nav_admin">
    <ul class="nav_link">
      <li>
        <a href="#">Home</a>
        <a href="/car">Car</a>
        <a href="/drivers">Driver</a>
        <a href="/customers/">Customers</a>
        <a href="/rental">Rents</a>
        <a href="#">Rent History</a>
        <a href="#">Setting</a>
      </li>
    </ul>
  </nav>
  <a href="/logout"><button class="logout_button">Log Out</button></a>
</header>