{% load static %}
<nav class="sidebar-nav">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="nav-icon icon-speedometer"></i> Dashboard
                <span class="badge badge-primary">NEW</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                 Katalog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                 Member</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                 Driver</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                 Order</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                 Setting</a>
            </li>
          </ul>
        </nav>