{% extends "base/index.html" %}
{% block content %}
<div class="container">
    <h1 style="text-decoration: underline;">Billing Detail</h1>
    <br>
    <div class="row">
        <div class="col-md-3 card">
            <h1 style="margin-bottom: 136px;
            text-align: center;
            margin-top: 75px;">LOGO</h1>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <th>Item</th>
                    <th>Description</th>
                    <th>Amount</th>
                </thead>
                <tbody>
                    <tr>
                        <td> {{rent.car.car_brand}} {{rent.car.car_name}}</td>
                        <td>{{count_days}} Day</td>
                        <td>Rp.{{bill}}</td>
                    </tr>
                    <tr>
                        <td>Driver</td>
                        <td>{{driver_description}}</td>
                        <td>Rp.{{driver_payment}}</td>
                    </tr>
                    <tr>
                        <td>Petrol</td>
                        <td>{{petrol_decription}}</td>
                        <td>Rp.{{petrol_amount}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Rp.{{total}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <h4>Pilih Pebayaran</h4>
            <div style="margin-bottom: 19px; margin-left: 29px;">
                <a href="{% url 'customers:bri_payment' id %}" class="btn btn-primary" style="width: 100px;">BRI</a>
            </div>
            <div style="margin-bottom: 19px; margin-left: 29px;">
                <a href="{% url 'customers:mandiri_pay' id %}" class="btn btn-warning">MANDIRI</a>
            </div>
            <div style="margin-left: 29px;">
                <a href="{% url 'customers:bni_pay' id %}" class="btn btn-danger" style="width: 100px;">BNI</a>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock content %}