{% include "base/index.html" %}
{% block content %}
{% include "base/navbar.html" %}
<h1>Crude user</h1>
<div class="container">
  <table class="table" style="margin-bottom: 15px;">
    <thead>
      <tr>
        <th>Photo</th>
        <th>Name</th>
        <th>NIK</th>
        <th>Phone Number</th>
        <th>Action</th>
      </tr>
    </thead>
    {% for u in user %}
    <tbody>
      <tr>
        <td class="card">
          <img src="{{u.customers.photo_profile.url}} " style="height: 195px;; width: 205px; border: none;  border-radius: 100px;">
        </td>
        <td>{{u.first_name}}</td>
        <td>{{u.customers.nik_customers}}</td>
        <td>{{u.customers.no_telepon}}</td>
        <td>
          <!-- <a class='btn btn-primary' href="/customers/update/{{u.id}}">Edit</a> -->
          <a class='btn btn-secondary' href="/customers/delete/{{u.id}}">Delete</a>
          <a class='btn btn-success' href="/customers/detail/{{u.id}}">Detail</a>
        </td>
      </tr>
    </tbody>
    {% endfor %}
    <div>
      <a class="btn btn-info" style="margin-left: 100%; margin-bottom: 18px;" href="{% url 'customers:create' %}"> + </a>
    </div>
  </table>
</div> 

{% endblock content %}