{% extends "base/index.html" %}
{% block content %}

<div class="container">
    <form action="{% url 'rental:create' %}" method="POST" enctype="multipart/form-data">

        {% csrf_token %}
        {{form.id}}
        <div class="form-grup">
            <label for="">{{form.customer.label}}</label>
            {{form.customer}}
        </div>
        <div class="form-grup">
            <label for="">{{form.car.label}}</label>
            {{form.car}}
        </div>
        <div class="form-grup">
            <label for="">{{form.rental_date.label}}</label>
            {{form.rental_date}}
        </div>
        <div class="form-grup">
            <label for="">{{form.expire_rental_date.label}}</label>
            {{form.expire_rental_date}}
        </div>
        <div class="form-grup">
            <label for="">{{form.payment_pict.label}}</label>
            {{form.payment_pict}}
        </div>
        <div class="form-grup">
            <label for="">{{form.driver.label}}</label>
            {{form.driver}}
        </div>
        <div class="form-grup">
            <label for="">{{form.petrol.label}}</label>
            {{form.petrol}}
        </div>
        <div class="form-grup">
            <label for="">{{form.verification.label}}</label>
            {{form.verification}}
        </div>
        <div class="form-grup">
            <button class="btn btn-info" type="submit" style="margin-top: 15px; margin-left: 91%;">Simpan</button>
            <a href="/rental" class="btn btn-success">Kembali</a>
        </div>
    </form>
</div>

{% endblock content %}